### Testing Codestral with SQL 

- The cells will contain different propmts in natural language and the SQL code generated as a consequence of the prompt.

## Prompt 
I have a data base that contains the table customers, the table transactions and the table financials. Each customer is a company and the table customers contains data aboyut each customer. The table transactions contains data about loans and small transactions while the table financials contains the balance sheet of each customer. Please create an SQL query that can give me all the customers having loans during the year 2019 and that the amount of assets in their balance sheet is greater than 10 million dollars

## Output

>>>  
 Sure, I can help with that. Here's a basic SQL query that should do what 
you're asking for:

```sql
SELECT c.*
FROM customers AS c
INNER JOIN transactions AS t ON c.customer_id = t.customer_id
INNER JOIN financials AS f ON c.customer_id = f.customer_id
WHERE YEAR(t.transaction_date) = 2019 AND t.loan_amount > 0 AND 
f.total_assets > 10000000;
```

## Explanantion

This query will join the three tables on the customer_id field, which is 
assumed to be a common field in all three tables that uniquely identifies 
each customer. It then filters the results to include only transactions 
that occurred in 2019 (as indicated by the transaction_date field), where 
there was a loan amount greater than 0 (indicating a loan) and where the 
total assets were greater than 10 million dollars (based on the 
total_assets field). The `SELECT c.*` part of the query means it will 
return all fields from the customers table for matching records.